.filters {
    display: flex;
    gap: 15px;
    background: #25303f;
    height: 50px;
}

.filters button {
    cursor: pointer;
    margin-left: 15px;
    border: none;
    background: transparent;
    color: white;
}
.filters button:hover{
border: 2px solid white;
}

.products {
    display: grid;
     grid-template-columns:  repeat(5, 1fr);
     place-items: center;
}